.level-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100dvh;
  width: 100dvw;

  &.fade-in {
    animation: fade-in 0.5s ease-in-out;
  }
  &.fade-out {
    animation: fade-in 0.5s ease-in-out reverse;
  }
}
h2 {
  font-size: 42px;
  text-shadow: 0 0 8px #000000;
  font-weight: thin;
  color: rgb(193, 255, 193);
  -webkit-text-stroke: 0.1px rgb(255, 255, 255);
}
button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
  filter: drop-shadow(0 0 2px #000000);
  transition: all 0.2s ease-in-out;

  &:hover {
    scale: 1.1;
    color: white;
  }
  &:active {
    background-color: transparent !important;
    scale: 0.9;
    opacity: 0.8;
  }
}
.close-btn {
  color: crimson;
  border: 2px solid crimson;

  &:hover {
    background-color: crimson;
  }
  &:active {
    color: crimson;
  }
}

.level-grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  gap: 20px;
  padding: 20px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}