.tree-grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.back-to-levels {
  padding: 8px 16px;
  border: 2px solid skyblue;
  color: skyblue;

  &:hover {
    background-color: skyblue;
  }
  &:active {
    color: skyblue;
  }
}

@media (max-width: 650px) {
  .tree-grid {
    scale: 0.8;
    margin: -40px 0;
  }
}
@media (max-height: 650px) {
  .tree-grid {
    scale: 0.8;
    margin: -50px 0;
  }
}

@media (max-width: 550px) {
  .tree-grid {
    scale: 0.6;
    margin: -80px 0;
  }
}
@media (max-height: 550px) {
  .tree-grid {
    scale: 0.6;
    margin: -100px 0;
  }
}

@media (max-width: 400px) {
  .tree-grid {
    margin: -120px 0;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(4, 150px);
  }
}
@media (max-height: 420px) {
  .tree-grid {
    scale: 0.5;
    margin: -140px 0;
  }
}