body {
  background: url('/background.png') repeat center center;
  overflow: hidden;
  height: 100dvh;
  width: 100dvw;
  color: white;

  --fade-duration: 500ms;
}

.fade-in {
  animation: fadeIn var(--fade-duration) ease-in-out;
}
.fade-out {
  animation: fadeOut var(--fade-duration) ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}